In [17]:
import os
import psycopg2
from dotenv import load_dotenv
import pandas as pd

In [18]:
load_dotenv()

True

In [19]:
# Pega as variáveis
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_NAME = os.getenv("DB_NAME")
DB_PORT = os.getenv("DB_PORT")

# Conecta
conn = psycopg2.connect(
    host=DB_HOST,
    database=DB_NAME,
    user=DB_USER,
    password=DB_PASSWORD,
    port=DB_PORT
)

cursor = conn.cursor()
cursor.execute("SELECT version();")
print(cursor.fetchone())

('PostgreSQL 15.16 (Debian 15.16-1.pgdg13+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 14.2.0-19) 14.2.0, 64-bit',)

In [21]:
query = "SELECT * FROM raw.transacoes_financeiras;"

df = pd.read_sql(query, conn)

df.head()

C:\Users\Adam\AppData\Local\Temp\ipykernel_19016\321918970.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,id_transacao_raw,data_transacao,data_competencia,id_area_raw,id_fornecedor_raw,tipo_transacao,valor_bruto,valor_liquido,moeda,descricao,id_categoria_raw,forma_pagamento,status_pagamento,ingestion_id,ingestion_ts,source_system,source_entity,row_seq,raw_row_hash
0,5001,04.04.2023,2019/T4,FIN,FORN-005927,Despesa,ABC,None,BRL,None,DESP,Dinheiro,Estornado,2e6f91db-f01b-4aad-a1f4-363b9c626077,2026-02-10 21:54:23.273025,EXCEL,transacoes_financeiras,1,c4f18a5331180c0faab8af3e268c1cc6
1,5002,20-Feb-2025,Extra,TI,FORN-005914,Despesa,"R$7.540,00","R$6.853,00",BRL,Pagamento not,DESP,Espécie,Pago,2e6f91db-f01b-4aad-a1f4-363b9c626077,2026-02-10 21:54:23.273025,EXCEL,transacoes_financeiras,2,6a2f500f33d5f7ced1f8f79d64aaa17d
2,5003,03.07.2023,Extra,None,ACC-002902,Despesa,ABC,"943,00",BRL,Pagamento nota fiscal NF 43213,DESP,Cartão de Crédito,Pago,2e6f91db-f01b-4aad-a1f4-363b9c626077,2026-02-10 21:54:23.273025,EXCEL,transacoes_financeiras,3,50fac74578fc7842af4bda867e7f67db
3,5004,2025-09-29,2025/T4,FIN,FORN-001756,None,"R$7.809,00","6288,00",BRL,Pgto ref NF,100,Cartão de Crédito,Pago,2e6f91db-f01b-4aad-a1f4-363b9c626077,2026-02-10 21:54:23.274027,EXCEL,transacoes_financeiras,4,cd42f22297d6a985196c8d0c3c0bbad7
4,None,28.06.2024,2022/T4,None,ACC-005647,Despesa,"1.719,00","R$1.512,00",BRL,None,DESP,Dinheiro,Pendente,2e6f91db-f01b-4aad-a1f4-363b9c626077,2026-02-10 21:54:23.274027,EXCEL,transacoes_financeiras,5,0fd9f42419593e036504cbeb74f28d55